:root {
  --blue:#00aeff; /*This is just some simple css variables*/
  --black: #423d3d;
  --grey: #978181;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: var(--black);
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 1.4;
  max-width: 100%;
}

.section-headings h2 {
  padding-top: 0% 4%;
}

.heading {
  color: #fff;
  background-color: var(--grey);
  background: url(../images/v7-homepage1.jpg);
  background-attachment: fixed;
  width: 100%;
}

.heading {
  text-align: center;
}

.header-main-heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  padding-top: 100px;
}

.header-sub-heading {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 100px;
}

nav {
  background: var(--blue);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
}

ul {
  list-style: none;
}

nav img {
  max-width: 7em;
}

i {
  color: white;
  border-radius: 30px;
  font-size: 3em;
}
 
 .heading-form {
   padding: 0 20% 1%;
   margin-top: -65px;
   position: sticky;
   top: 0;
 }

 .heading-text {
  padding: 4em 0em 1em 0em;
}

.hotel-search-form {
  background: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.hotel-search-form .input {
  border: 1px solid var(--grey);
  padding: 10px 10px 10px 40px;
  margin: 45px 0px;
  border-radius: 5px;
  width: 35%;
}

.hotel-search-form-btn{
  background: var(--blue);
  padding: 10px 40px;
  border-radius: 5px;
  width: 40%;
  color: #fff;
}
 
.section-headings h2 {
  font-size: 24px;
  color: var(--black);
  font-weight: 700;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07)
}

.section-heading p {
font-size: 18px;
font-weight: 500;
color: var(--black);
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  padding: 0 20%;
}

 .box {
  margin-top: 20px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding: 10px;
}
 .box h3 {
  color: var(--blue);
}

.box p {
  color: var(--grey);
  font-weight: 300;
}

.top-deal-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.251fr);
  grid-gap: 2rem;
  text-align: left;
  padding-left: 336px;
  width: 100%;
}

.top-deal-each img {
  width: 100%;
  /* max-width: 100% */
}

.top-deal-location-details h4 {
  color: var(--blue);
  padding: 20px 10px 0px 15px;
}

.top-deal-location-details p {
  color: var(--grey);
  padding: 5px 0px 15px 15px;
}

.top-deal-location-details {
  color: var(--grey);
  border: 1px solid var(--black);
  border-top: 0;
  border-radius: 5px;
  margin-top: -8px;
}


.cities-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.251fr);
  grid-gap: 2rem;
  text-align: left;
  padding-left: 336px;
  width: 100%;
}

.cities-grid img {
  width: 100%;
}

.state-grid {
  display: grid;
  grid-template-columns: repeat(4, 0.251fr);
  padding: 0px 0px 5% 18%;
  width: 82%;
  grid-gap: 1rem;
  text-align: left;
}

.special-deal-section {
  background: #fafafa;
}

.form-subscribe input {
  border: 1px solid var(--grey);
  padding: 10px 10px 10px 40px;
  margin: 45px 0px;
  border-radius: 5px;
  width: 35%;
}
.form-subscribe-btn, .btn{
  background: var(--blue);
  padding: 10px 40px;
  border-radius: 5px;
  width: 40%;
  color: #fff;
}

.featured-section {
  padding: 0% 20%;
}

.featured-header {
  margin-bottom: 7%;
}

.featured-flex {
  margin-right: 5px;
}

.featured-flex ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.featured-flex li {
  margin-right: 10%;
}

.featured-flex ul :nth-child(4) {
  margin-right: 0;
}

.more-booking-section p {
  padding-bottom: 2%;
}

.get-app-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
  background: #EFF8FB;
}

/* .get-app-details {

} */

.get-app-details h2 {
  color: var(--blue);
  font-size: 50px;
}

.get-app-details h3 {
  font-size: 30px;
  font-weight: 800;
}